*.o
*~
Makefile
Makefile.in
configure
.deps/
aclocal.m4
autom4te.cache/
*.DS_Store
*.sublime-workspace
*.sublime-project
temp/*
*.Po
*.swp
compile
config.h
config.h.in
config.log
config.status
depcomp
install-sh
missing
rfmix
simulate
stamp-h1
