*.DS_Store
*.sublime-workspace
*.sublime-project
temp/*
*.Po
*.swp
*.o
Makefile
Make
autom*
aclocal.m4
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
Makefile.in
missing
simulate
stamp-h1
